# Example Notebook

Here's a simple test of the environment using Pandas, NumPy, Jupyter, etc., based on the [*10 Minutes to pandas*](https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html) tutorial.

In [1]:
import numpy as np
import pandas as pd

First, a series with a `NaN` included:

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

Then some dates:

In [3]:
dates = pd.date_range('20130101', periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Now a simple dataframe:

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.857868  0.747256 -0.569751 -0.074788
2013-01-02 -1.024871 -0.390769  0.243756 -1.117749
2013-01-03 -1.722887  1.677093  0.574838  0.473173
2013-01-04 -1.108425 -0.614358  1.213418  1.934484
2013-01-05  1.477569 -0.814777 -0.591397 -0.757493
2013-01-06 -0.272987 -1.311381  0.968111 -1.051906